.upload{
    background-color: rgb(231, 240, 244);
    height: 15vh;
    margin-top: 40px;
    border-radius: 10px;
    
}

.cloud_img{

      display: flex;
      justify-content: center;
     padding-top: 40px;
     

}
#img_c{
    height: 20px;

}
.cloud_text{
  
    
     font-size: 15px; 
     width: 300px;
    text-align: center;
    margin-left: 100px;

}

#radio-btnn{
   
    height: 50px;
    margin-right: 35px;
    margin-top: 40px;
}

#inlineRadio1{
    height: 20px;
    width: 20px;
    margin-right: 10px;
   
 
}

#inlineRadio2{
    height: 20px;
    width: 20px;
    margin-right: 10px;
   
}

#cars{
    margin-top: 5px;
    padding: 10px;
    width: 100% ;
    border-color: rgb(231, 240, 244) ;
    color: rgb(160, 164, 166);
    font-size: medium;
}
.form{
 
   margin-top: 10px;

}
.input_box{
    background-color: rgb(246, 249, 248);
    height: 9vh;
    width: 100%;
   border: none;
   border-radius: none;
}


.footer{
    margin-top: 80px;
}